In [1]:
#Import Dependencies
import pandas as pd
import os

In [2]:
#Create filepaths for csv files with school data

#Filepaths on Windows (os.path.join not working on Windows)
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv"

# Filepaths on iOS
#school_data_file = os.path.join("Resources","school_complete.csv")
#student_data_file = os.path.join("Resources","students_complete.csv")

In [3]:
#Read school and student data into DataFrames
school_df = pd.read_csv(school_data_file)
student_df = pd.read_csv(student_data_file)

In [4]:
#Merge DataFrames to complete analysis
students_schools_complete = pd.merge(student_df,school_df,how="left",on="school_name")

## District Summary

In [5]:
#Calculate # of schools
total_schools =len(students_schools_complete["school_name"].unique())

In [6]:
#Calculate # of students
total_students= students_schools_complete["Student ID"].count()

In [7]:
#Calculate district budget
total_budget = school_df['budget'].sum()

In [8]:
#Calculate average math score of all students
avg_math_score = students_schools_complete['math_score'].mean()

In [9]:
#Calculate average reading score of all students
avg_reading_score = students_schools_complete['reading_score'].mean()

In [10]:
#Calculate % of students with a passing math score
passing_math_count = students_schools_complete[(students_schools_complete["math_score"] >= 70)].count()["student_name"]
percent_passing_math = passing_math_count / float(total_students) * 100

In [11]:
#Calculate % of students with a passing reading score
passing_reading_count = students_schools_complete[(students_schools_complete["reading_score"] >= 70)].count()["student_name"]
percent_passing_reading = passing_reading_count / float(total_students) * 100

In [12]:
#Calculate % of students with passing scores for both math and reading
passing_math_reading_count = students_schools_complete[
    (students_schools_complete["math_score"] >= 70) & (students_schools_complete["reading_score"] >= 70)
].count()["student_name"]
percent_passing_overall = passing_math_reading_count / float(total_students) *100

In [13]:
#Create a DataFrame to display the district's key metrics
district_summary = pd.DataFrame({"Total Schools":[total_schools],"Total Students":[total_students]
, "Total Budget":[total_budget], "Average Math Score":[avg_math_score],"Average Reading Score":[avg_reading_score]
, "% Passing Math":[percent_passing_math],"% Passing Reading":[percent_passing_reading],"% Overall Passing":[percent_passing_overall]})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format) 
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format) 
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:.2f}%".format)   
#Display District Summary
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [14]:
#Create series of schools and their types
school_types = school_df.set_index(["school_name"])["type"]

In [15]:
#Calculate # students per school
per_school_students = students_schools_complete.groupby(["school_name"]).count()["Student ID"]

In [16]:
#Calculate Budget per school, and per student for each school
per_school_budget = students_schools_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_students

In [17]:
#Calculate average math and reading scores per school
per_school_math_score = students_schools_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading_score = students_schools_complete.groupby(["school_name"]).mean()["reading_score"]

In [18]:
#Calculate % passing math per school
per_school_passing_math = students_schools_complete[(students_schools_complete["math_score"] >= 70)]\
                                .groupby(["school_name"]).count()["Student ID"] / per_school_students * 100
#Calculate % passing reading per school
per_school_passing_reading = students_schools_complete[(students_schools_complete["reading_score"] >= 70)]\
                                .groupby(["school_name"]).count()["Student ID"] / per_school_students * 100
#Calculate % overall passing per school
per_school_passing_overall = students_schools_complete[(students_schools_complete["math_score"] >= 70) & 
                                (students_schools_complete["reading_score"] >= 70)].groupby(["school_name"]).count()["Student ID"] / per_school_students * 100

In [19]:
#Create DataFrame to hold summary statistics for each school
school_summary = pd.DataFrame(columns= ["School Type", "Total Students", "Total School Budget"
        , "Per Student Budget", "Average Math Score", "Average Reading Score"
        , "% Passing Math", "% Passing Reading", "% Overall Passing"])
#Pass series values into DataFrame
school_summary["School Type"] = school_types
school_summary["Total Students"] = pd.to_numeric(per_school_students)
school_summary["Total School Budget"] = per_school_budget
school_summary["Per Student Budget"] = per_school_capita
school_summary["Average Math Score"] = per_school_math_score
school_summary["Average Reading Score"] = per_school_reading_score
school_summary["% Passing Math"] = per_school_passing_math
school_summary["% Passing Reading"] = per_school_passing_reading
school_summary["% Overall Passing"] = per_school_passing_overall
#Sort schools in alphabetical order
school_summary.sort_index(inplace=True)

In [20]:
#Create a copy of the school summary to format and display
school_summary_format = school_summary.copy()
# Formatting
school_summary_format["Total Students"] = school_summary_format["Total Students"].map("{:,}".format)
school_summary_format["Total School Budget"] = school_summary_format["Total School Budget"].map("${:,.2f}".format)
school_summary_format["Per Student Budget"] = school_summary_format["Per Student Budget"].map("${:,.2f}".format)
school_summary_format["Average Math Score"] = school_summary_format["Average Math Score"].map("{:.2f}".format)
school_summary_format["Average Reading Score"] = school_summary_format["Average Reading Score"].map("{:.2f}".format) 
school_summary_format["% Passing Math"] = school_summary_format["% Passing Math"].map("{:.2f}%".format)
school_summary_format["% Passing Reading"] = school_summary_format["% Passing Reading"].map("{:.2f}%".format) 
school_summary_format["% Overall Passing"] = school_summary_format["% Overall Passing"].map("{:.2f}%".format)
#Display the School Summary
school_summary_format

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [21]:
# Number of Top Schools to display
top_num = 5
#Create a DataFrame from School Summary, sorted by % Overall Passing, descending
top_schools_overall_passing = school_summary.sort_values(by="% Overall Passing", ascending=False)
# Formatting
top_schools_overall_passing["Total Students"] = top_schools_overall_passing["Total Students"].map("{:,}".format)
top_schools_overall_passing["Total School Budget"] = top_schools_overall_passing["Total School Budget"].map("${:,.2f}".format)
top_schools_overall_passing["Average Math Score"] = top_schools_overall_passing["Average Math Score"].map("{:.2f}".format)
top_schools_overall_passing["Average Reading Score"] = top_schools_overall_passing["Average Reading Score"].map("{:.2f}".format) 
top_schools_overall_passing["% Passing Math"] = top_schools_overall_passing["% Passing Math"].map("{:.2f}%".format)
top_schools_overall_passing["% Passing Reading"] = top_schools_overall_passing["% Passing Reading"].map("{:.2f}%".format) 
top_schools_overall_passing["% Overall Passing"] = top_schools_overall_passing["% Overall Passing"].map("{:.2f}%".format)
#Display Top Schools
top_schools_overall_passing.head(top_num)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",625.0,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,90.54%

## Lowest-Performing Schools (by % Overall Passing)

In [22]:
# Number of Low-performing Schools to display
low_num = 5
#Create a DataFrame from School Summary, sorted by % Overall Passing, ascending
low_schools_overall_passing = school_summary.sort_values(by="% Overall Passing", ascending=True)
# Formatting
low_schools_overall_passing["Total Students"] = low_schools_overall_passing["Total Students"].map("{:,}".format)
low_schools_overall_passing["Total School Budget"] = low_schools_overall_passing["Total School Budget"].map("${:,.2f}".format)
low_schools_overall_passing["Average Math Score"] = low_schools_overall_passing["Average Math Score"].map("{:.2f}".format)
low_schools_overall_passing["Average Reading Score"] = low_schools_overall_passing["Average Reading Score"].map("{:.2f}".format) 
low_schools_overall_passing["% Passing Math"] = low_schools_overall_passing["% Passing Math"].map("{:.2f}%".format)
low_schools_overall_passing["% Passing Reading"] = low_schools_overall_passing["% Passing Reading"].map("{:.2f}%".format) 
low_schools_overall_passing["% Overall Passing"] = low_schools_overall_passing["% Overall Passing"].map("{:.2f}%".format)
#Display Lowest-Performing Schools
low_schools_overall_passing.head(low_num)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [23]:
#Create series for the average math scores for each grade, grouped by school
math_scores_ninth_grade = students_schools_complete[(students_schools_complete["grade"] == "9th")].groupby(["school_name"]).mean()["math_score"]
math_scores_tenth_grade = students_schools_complete[(students_schools_complete["grade"] == "10th")].groupby(["school_name"]).mean()["math_score"]
math_scores_eleventh_grade = students_schools_complete[(students_schools_complete["grade"] == "11th")].groupby(["school_name"]).mean()["math_score"]
math_scores_twelfth_grade = students_schools_complete[(students_schools_complete["grade"] == "12th")].groupby(["school_name"]).mean()["math_score"]
#Combine all series into a DataFrame
math_scores_by_grade = pd.DataFrame({"9th":math_scores_ninth_grade,"10th":math_scores_tenth_grade,"11th":math_scores_eleventh_grade,"12th":math_scores_twelfth_grade})
math_scores_by_grade.index.name = None
#Formatting
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.2f}%".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.2f}%".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.2f}%".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.2f}%".format)
#Display Math Scores By Grade
math_scores_by_grade

                          9th    10th    11th    12th
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

## Reading Scores by Grade

In [24]:
#Create series for the average reading scores for each grade, grouped by school
reading_scores_ninth_grade = students_schools_complete[(students_schools_complete["grade"] == "9th")].groupby(["school_name"]).mean()["reading_score"]
reading_scores_tenth_grade = students_schools_complete[(students_schools_complete["grade"] == "10th")].groupby(["school_name"]).mean()["reading_score"]
reading_scores_eleventh_grade = students_schools_complete[(students_schools_complete["grade"] == "11th")].groupby(["school_name"]).mean()["reading_score"]
reading_scores_twelfth_grade = students_schools_complete[(students_schools_complete["grade"] == "12th")].groupby(["school_name"]).mean()["reading_score"]
#Combine all series into a DataFrame
reading_scores_by_grade = pd.DataFrame({"9th":reading_scores_ninth_grade,"10th":reading_scores_tenth_grade,"11th":reading_scores_eleventh_grade,"12th":reading_scores_twelfth_grade})
reading_scores_by_grade.index.name = None
#Formatting
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.2f}%".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.2f}%".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.2f}%".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.2f}%".format)
#Display Reading Scores by Grade
reading_scores_by_grade

                          9th    10th    11th    12th
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

## Scores by School Spending

In [25]:
#Create bins and labels to group by school spending
spending_bins = [0,600,630,650,670]
spending_labels = ["<$600","$600-630","$630-650","$650-670"]

In [26]:
#Create a copy of School Summary to sort into groups
school_spending_df = school_summary.copy()

In [27]:
#Add a new Column for Spending Groups
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"],bins=spending_bins, labels=spending_labels, right=False)

In [28]:
#Create series of average scores grouped by spending ranges
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_overall_passing = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [29]:
#Combine series into a Dataframe 
spending_summary = pd.DataFrame({"Average Math Score":spending_math_scores,"Average Reading Score":spending_reading_scores
    ,"% Passing Math":spending_passing_math,"% Passing Reading":spending_passing_reading,"% Overall Passing":spending_overall_passing})
#Formatting
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:.2f}".format) 
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:.2f}%".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:.2f}%".format) 
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:.2f}%".format)
#Display Scores by School Spending
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$600,83.46,83.93,93.46%,96.61%,90.37%
$600-630,81.90,83.16,87.13%,92.72%,81.42%
$630-650,78.52,81.62,73.48%,84.39%,62.86%
$650-670,77.00,81.03,66.16%,81.13%,53.53%

## Scores by School Size

In [30]:
#Create bins and labels to group by school size
size_bins = [0,1000,2000,5000]
size_labels = ["Small (<1000)","Medium (1000-2000)","Large(2000-5000)"]

In [31]:
#Create a copy of School Summary to sort into groups
school_size_df = school_summary.copy()
#Add a new Column for School Size
school_size_df["School Size"]=pd.cut(school_size_df["Total Students"], bins=size_bins, labels=size_labels)

In [32]:
#Create series for average scores grouped by school size
size_math_scores = school_size_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_size_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = school_size_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = school_size_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = school_size_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [33]:
#Combine series into a DataFrame
size_summary = pd.DataFrame({"Average Math Score":size_math_scores,"Average Reading Score":size_reading_scores
    ,"% Passing Math":size_passing_math,"% Passing Reading":size_passing_reading, "% Overall Passing":size_overall_passing})
#Formatting
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:.2f}".format) 
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:.2f}%".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}%".format) 
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}%".format)
#Display Scores by School Size
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,89.88%
Medium (1000-2000),83.37,83.86,93.60%,96.79%,90.62%
Large(2000-5000),77.75,81.34,69.96%,82.77%,58.29%

## Scores by School Type

In [34]:
#Create series for average scores grouped by school type
school_type_math_scores = school_summary.groupby(["School Type"]).mean()["Average Math Score"]
school_type_reading_scores = school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
school_type_passing_math = school_summary.groupby(["School Type"]).mean()["% Passing Math"]
school_type_passing_reading = school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
school_type_overall_passing = school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [35]:
#Combine series into a DataFrame
type_summary = pd.DataFrame({"Average Math Score":school_type_math_scores,"Average Reading Score":school_type_reading_scores
    ,"% Passing Math":school_type_passing_math,"% Passing Reading":school_type_passing_reading, "% Overall Passing":school_type_overall_passing})
#Formatting
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:.2f}".format) 
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:.2f}%".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}%".format) 
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}%".format)
#Display Scores by School Type
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,90.43%
District,76.96,80.97,66.55%,80.80%,53.67%